.search-input:hover{
               -webkit-transform:scale(1.05);
               transform:scale(1.05)
               }
               .search{ 
               width : 30%;
               }
               .search-input{
               position:relative;
               margin : 5px 0px 0px 5px  ;
               }
               .search-input.xlarge i{
               position: absolute;
               top:10px;
               left:20px;
               font-size:20px;
               color : blue;
               }
               .search-input.xlarge input{
               border:1px solid #268ccc;
               -webkit-border-top-right-radius:.6rem;
               -webkit-border-bottom-right-radius:.6rem;
               -webkit-border-bottom-left-radius:.6rem;
               -webkit-border-top-left-radius:.6rem;
               -moz-border-radius-topright:.6rem;
               -moz-border-radius-bottomright:.6rem;
               -moz-border-radius-bottomleft:.6rem;
               -moz-border-radius-topleft:.6rem;
               border-top-right-radius:.6rem;
               border-bottom-right-radius:.6rem;
               border-bottom-left-radius:.6rem;
               border-top-left-radius:.6rem;
               padding:.6rem 1.4rem .6rem 5rem;
               font-size:1.7rem
               }
               .search-page{
               margin-left : 30px;
               }
               .checkbox{
               font-size : 18px;
               padding : 10px 5px 0px 0px;
               margin-left : 20px;
               font-weight : solid;
               }
               .grpcheckbox{
               clear : both;
               margin : 20px 0px 0px 40px;
               }
               .filters{
               background-color : black; 
               height:100%; 
               float: right;
               }
               h3{
               font-size:2rem; margin-bottom: 20px;
               margin-left: 30px;
               }
               ul{
               margin-top:2.2rem
               }
               li{
               cursor:pointer;
               display:block;
               border:1px solid #aeb0b1;
               margin-bottom:.6rem;
               padding:.7rem .6rem;
               border-radius:.3rem;
               font-size:1.1rem;
               width : 70%;
               -webkit-transition:background .2s ease;
               -moz-transition:background .2s ease;
               -o-transition:background .2s ease;
               -ms-transition:background .2s ease;
               transition:background .2s ease
               }
               .placesListName {
               width: 70%;
               display: inline-block;
               font-weight: bold;
               font-size: 1.2em;
               color: #4db6ac;
               }
               .placesListIcon {
               width: 20%;
               text-align: right;
               display: inline-block;
               }
               .lstIcon {
               width: 25px;
               height: 25px;
               }
               .lstName {
               font-weight: 500;
               font-size: 1.2em;
               }
               li.checked
               {
               background:#268ccc;
               color:white;
               border:1px solid #268ccc
               }
               li.checked:hover
               {
               color:white
               }
               li:hover{
               color:#268ccc;
               border:1px solid #268ccc}
               h3
               {
               color:white
               }
               li{
               color:#4bade7
               }
               .btnsubmit{
               width : 50%;
               margin : 20px 80px;
               }
               .panel-success {
               position: absolute;
               right: 0;
               top: 0;
               bottom: 0;
               margin: 0;
               box-shadow: 0 0 20px rgba(0,0,0,0.3);
               border: none;
               }
               .panel-heading {
               background-color: #2855a1 !important;
               color: #bda518 !important;
               border: none;
               padding: 11px 15px 9px 15px;
               width: 350px;
               height: 70px;
               }
               .panel-body {
               overflow-y: scroll;
               width: 370px;
               position: absolute;
               right: -3%;
               height: calc(100% - 70px);
               padding: 0;
               }
               .panel-heading h4 {margin: 6px 0;}
               .panel, .panel-heading, .list-group-item:last-child, .list-group-item:first-child {
               border-radius: 0;
               }
               #map {
               height: 700px;
               position: relative;
               width: 994px;
               }
               p{
               font-weight : bold;
               }
               header { 
               background-color:#212121;
               box-shadow: 0 -1px 2px #111111;
               display:block;
               height:70px;
               position:relative;
               width:100%;
               z-index:100;
               }
               .modal {
               display:    none;
               position:   fixed;
               z-index:    1000;
               top:        0;
               left:       0;
               height:     100%;
               width:      100%;
               background: rgba( 255, 255, 255, .8 ) 
               url('http://i.stack.imgur.com/FhHRx.gif') 
               50% 50% 
               no-repeat;
               }
               #map.loading {
               overflow: hidden;   
               }
               /* Anytime the body has the loading class, our
               modal element will be visible */
               #map.loading .modal {
               display: block;
               }
               .button {
               background-color: #d7e5f5;
               background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
               background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
               background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
               background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
               background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
               background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
               border-top: 1px solid #abbbcc;
               border-left: 1px solid #a7b6c7;
               border-bottom: 1px solid #a1afbf;
               border-right: 1px solid #a7b6c7;
               -webkit-border-radius: 12px;
               -moz-border-radius: 12px;
               border-radius: 12px;
               -webkit-box-shadow: inset 0 1px 0 0 white;
               -moz-box-shadow: inset 0 1px 0 0 white;
               box-shadow: inset 0 1px 0 0 white;
               color: #1a3e66;
               font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
               line-height: 1;
               margin-bottom: 5px;
               padding: 6px 0 7px 0;
               text-align: center;
               text-shadow: 0 1px 1px #fff;
               width: 150px;
               }
               .button:hover {
               background-color: #ccd9e8;
               background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
               background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
               background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
               background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
               background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
               background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
               border-top: 1px solid #a1afbf;
               border-left: 1px solid #9caaba;
               border-bottom: 1px solid #96a3b3;
               border-right: 1px solid #9caaba;
               -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
               -moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
               box-shadow: inset 0 1px 0 0 #f2f2f2;
               color: #163659;
               cursor: pointer;
               }
               .button:active {
               border: 1px solid #8c98a7;
               -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
               -moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
               box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
               }